* {
  margin: 0;
}

:root {
  --bg: rgb(238, 239, 240);
  --bg-light: #fefefe;
  --black: black;
  --accent: rgb(44, 49, 53);
  --accent-dark: rgb(39, 41, 44);
  --primary: #ffdc44;
  --primary-dark: #ffc800;

  --text-color: black;
  --text-color-alt: rgb(70, 70, 70);

  --hr-color: rgb(230, 230, 230);

  --card-min-width: 360px;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background-color: var(--bg);
}

p {
  color: var(--text-color);
}

small.sub {
  color: var(--text-color-alt);
}

a {
  color: var(--text-color);
  text-decoration: underline var(--black);
  -webkit-text-decoration: underline var(-black);
  cursor: pointer;
}

a:visited {
  color: var(--text-color);
}

hr {
  color: var(--hr-color);
}

body > header {
  background-color: var(--primary);

  border-bottom: 1px solid var(--primary-dark);
}

body > header > .tabs {
  width: fit-content;

  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.tabs > .logo {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .tabs > .title {
    display: none;
  }
}

.spaced > * {
  margin-inline: 0.5em;
}

button {
  border: none;
  border-radius: 0.5em;
  display: inline-block;

  padding: 0.75em 1em 0.75em 1em;
  margin: 8px 4px;

  background-color: var(--accent);
  color: white;
}

button:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--accent-dark);
}

.username {
  text-decoration: underline var(--black);
  -webkit-text-decoration: underline var(-black);
}

div#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: var(--primary);
}

div#landing > .heading {
  margin-top: 4em;
  margin-bottom: 4em;

  padding-inline: 2em;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

div#ticket-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding-top: 1em;
}

.large-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100vw;
}

.large-ticket > header {
  position: relative;

  display: grid;
  place-items: center;

  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  box-sizing: border-box;

  border-radius: 0.5em 0.5em 0 0;
  background-color: white;
}

.large-ticket > header button.close-button {
  position: absolute;
  right: 1em;
  background-color: white;
  color: var(--text-color);
}

.large-ticket > header button.close-button:hover {
  background-color: rgb(236, 236, 236);
  color: var(--text-color);
}

.large-ticket > .ticket-card {
  margin-left: 1em;
  margin-right: 1em;
}

.ticket-card {
  max-width: 80%;
  min-width: var(--card-min-width);

  box-shadow: 0px 1px 4px 1px #d5d5d5;
  border-radius: 0.5em;
  background-color: var(--bg-light);
}

.ticket-card > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--accent);
  color: var(--primary);
}

.ticket-card > header > div {
  padding: 0.75em;
}

.ticket-card > main {
  display: flex;
  flex-direction: column;
}

.ticket-card > main > div {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.ticket-card > main > div#qr {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

#qr svg {
  width: 200px;
  height: 200px;

  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.expiry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expiry p {
  background-color: rgb(212, 249, 212);
  font-weight: 700;
  color: rgb(18, 78, 18);

  border-radius: 0.5em;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  text-align: center;
  line-height: 1em;
  width: 100%;
}

.ticket-card > footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.ticket-card > footer > div {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.statistics {
  text-align: center;
}

.ticket-card .progress-bar {
  margin: auto;
  border-radius: 0.2em;
  width: 85%;
  height: 0.4em;
  background: var(--accent);
  animation: countdown 10s linear forwards;

  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
}

@keyframes countdown {
  from {
    width: 85%;
  }
  to {
    width: 0%;
  }
}

.moving-bee {
  padding-top: 2em;
  padding-bottom: 2em;
}

.bee-container {
  container-type: size;
  width: 100%;
}

.bee {
  background-image: url(bee.svg);

  background-size: contain;
  background-repeat: no-repeat;
  height: 87.2px;
  width: 80px;
}

.hex {
  background-image: url(hex.svg);

  background-size: contain;
  background-repeat: no-repeat;
  height: 87.2px;
  width: 80px;

  transform-origin: center;
  animation: movebee 2s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate;
}

@keyframes movebee {
  from {
    transform: translateY(-50%) translateX(5cqw);
  }

  to {
    transform: translateY(-50%) translateX(75cqw);
  }
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type="submit"] {
  background-color: var(--accent);
  font-weight: bold;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: --primary;
}
